.nav-link:hover{
    background-color: blue;
}

.container1{
    display: grid;
   
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr; /*1 and 8 should be empty of content*/
    grid-template-rows:  .5fr 1fr 1fr 1fr 1fr ; 
    height: 90vh;
}

.leftCon{
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}
